{% load static %}
<footer id="main-footer" class="py-3">
    <div class="container py-3 ">
        <div class="row container">
            <!-- social info -->
            <div class="col-lg-4 col-sm-12">
                <div class="footer-logo pb-3">
                    <img src="{% static 'img/logo.png' %}" alt="Main footer logo">
                </div>
                <p class="ml-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aperiam nostrum enim cum dolorum dolorem velit quas,
                    quis excepturi ex nam.
                </p>
                <div class="social-icons row d-flex">
                    <div class="instagram mx-2 col-4">
                        <a class="text-white" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="twitter mx-2 col-4">
                        <a class="p-2 text-white" href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="facebook mx-2 col-4">
                        <a class="text-white" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>

            <!-- Legal info -->
            <div class="col-lg-4 col-sm-12 py-sm-12">
                <div class="pt-3">
                    <h3 class="pb-3 mb-4 text-white">Legal</h3>
                </div>
                <li class="legal">
                    <a href="">Terms and Services</a>
                </li>
                <li class="legal py-2">
                    <a href="">Privacy</a>
                </li>
                <li class="legal">
                    <a href="">About Us</a>
                </li>
            </div>

            <!-- contact information -->
            <div class="col-lg-4 col-sm-12">
                <div class="pt-3">
                    <h3 class="pb-3 mb-4 text-white">Have a Questions?</h3>
                </div>
                <div class="row address">
                    <div class="col-2 socials">
                        <a href=""><i class="fa fa-map-marker"></i></a>
                    </div>
                    <div class="col-10">
                        <p>453 fake St Sunny Drive <br> <span class="city">Miami Beach,</span> <br> <span
                                class="state">Florida</span>,<span class="country"> USA</span></p>
                    </div>
                </div>
                <div class="row phone py-1">
                    <div class="col-2 socials">
                        <a href=""><i class="fa fa-phone"></i></a>
                    </div>
                    <div class="col-10">
                        <p>(305) 555 - 555</p>
                    </div>
                </div>
                <div class="row email">
                    <div class="col-2 socials">
                        <a href=""><i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-10">
                        <p>rdlondonfosterrealty.info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>Copyright &copy; <span class="year"></span> All rights reserved | Created by Andral Orelus</p>
        </div>
    </div>
</footer>